@import "icons.css";

/*** Main elements ***/
#wccf-meta-box label + input[type="radio"]{
	margin:0 0 0 1em;
	vertical-align: middle;
}
.wcc-postbox-border {
	border: 1px solid #ccd0d4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.wccf-wrapper {
	padding: 2em;
	margin: 1em 0;
	position: relative;
}

.wccf-gray-wrap{
	background-color:#f0f0f0;
	padding:1em;
}

.wccf-field-remove {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 20px;
	background-color: #ccd0d4;
	border-radius: 100%;
}

.wccf-field-remove:hover {
	cursor: pointer;
	opacity: 0.8;
}

.wccf-field-remove::after,
.wccf-field-remove::before {
	content: "";
	display: block;
	width: 80%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 10%;
	top: 45%;
}

.wccf-field-remove::before {
	transform: rotate(45deg);
}

.wccf-field-remove::after {
	transform: rotate(-45deg);
}

.wccf-vertical-space {
	margin: 1em 0;
}

.wccf-space-bottom {
	margin-bottom: 1em;
}

.wccf-field-line {
	margin: 2em 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.wccf-label,
.wccf-input {
	width: 50%;
	margin:0 2%;
}

.wccf-input {
	padding-left: 5%;
}
.wccf-remove-option{
	margin: 0 2%;
}

.wccf-input input,
.wccf-input textarea {
	width: 100%;
	padding: 0.25em 1em;
}

.wccf-input textarea {
	min-height: 200px;
}

.wccf-label label {
	font-weight: 700;
	margin-bottom: 0.5em;
	display: block;
}

.wccf-main-select {
	font-weight: 700;
}

.wccf-message {
	padding: 2em;
}

.wccf-input-block-outer-wrapper {
	width: 50%;
	padding-left: 5%;
}

.wccf-input-block {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.wccf-input-block + .wccf-input-block {
	margin-top: 1em;
}

.wccf-input-block .wccf-input {
	padding: 0;
	width: auto;
}

/** OPTIONS PAGE **/

.wccf-panels-wrapper {
	margin-bottom:1em;
}
.wccf-panels-remove{
	margin-left:1em;
}
.wccf-icon{
	display: inline-block; 
	width:30px;
	height:30px;
	vertical-align: middle;
	text-align: center;
	line-height: 30px;
	background-color:#fff;
	border-radius:30px;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	margin:0 1rem;
	font-weight: 700;
	font-size: 10px;
}
.wccf-icon:hover{
	cursor: pointer;
	opacity: 0.8;
}
.wccf-icon-selector{
	position: fixed;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	z-index:10000;
	display: none;
	
}
.wccf-icon-selector.visible{
	display: block;
}
.wccf-icon-selector-inner{
	width: 70%;
	text-align: center;
    height: auto;
    position: absolute;
	top: 50%;
	transform:translateY(-50%) translateX(-50%);
    left: 50%;
	overflow: auto;
	background-color:#fff;
	padding:1em;
	box-shadow:0 0 5px rgba(0,0,0,0.3);	
}
.wccf-icon-selector-bg{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	background-color:rgba(0,0,0,0.2);
}
.wccf-icon-selector .wccf-icon{
	margin:1em;
	font-size: 18px;
}
.hide-text .wccf-icon-text{
	display: none;
}
.wccf-icon.hide-text{
	font-size: 18px;
}
.wccf-add-new-option{
	margin-top:1em;
	display: inline-block;
}
